body{
    margin: 0%;
}

/*===================================================
        This is start the style for header section 
 ===================================================*/


.menu{
    margin: 1%;
    margin-right: 2%;
    text-align: center;
    float: right;
    position: relative;
}
.item{
    display: inline-block;
    padding: 5px;
    
}
.menu-item{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.87);
    padding: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: -10px;
}
.menu-item:hover{
    text-decoration: underline;
}
#profilepic{
    border-radius: 50%;
}
.material-icons{
    padding-right: 10px;
    position: relative;
    top: -4px;
}

/*===================================================
     This is the end of style for header section 
 ===================================================*/



/*===================================================
        This is start the main for header section 
 ===================================================*/

 .sec2{
    text-align: center;
    top: 30%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
 }

 .img_box{
    
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
 }
 .img_box > img{
    align-items: center;
    text-align: center;
 }

  .img > img{
     width: 15px;
     height: 20px;
     position: relative;
     top: 15px;
 } 


 .searchbox{
    position: relative;
    display: block;
    margin: auto;
    width: 40%;
    min-width: 400px;
    max-width: 1000px;
    height: 3rem;
    border: 1px solid rgba(128,128,128, .5);
    border-radius: 50px;
 }
.searchbox:hover{
    box-shadow: 0 0 5px rgba(128,128,128, .5);
 }
 .img{
    position: relative;
    margin-right:5%;
    float: right;
 }


 .btn{
    text-align: center;
    top: 10rem;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
 }
 button{
    background-color:rgba(100,100,100, .2);
    border:none;
    border-radius: 5px;
    padding: 0.8% 0.8%;
    margin-right: 1%;
 }
